@use '../abstracts/' as *;

footer {
    background-color: $gray;
    font-family: $generalFont;
    font-weight: 700;
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    width: 100vw;

    a {
        border-radius: 0.5rem;
        color: $base;
        padding: 0.25rem;
        text-decoration: none;
    }

    a:hover {
        background-color: rgb(110, 110, 110);
    }

    img {
        width: 1rem;
    }
}