@use '../abstracts' as *;

#S	{ background-color: $s; }
#A	{ background-color: $a; }
#B	{ background-color: $b; }
#C	{ background-color: $c; }
#D	{ background-color: $d; }
#E	{ background-color: $e; }
#F	{ background-color: $f; }

.tierList {
    padding: 0;
    display: grid;
    grid-gap: 0.5rem;
    height: fit-content;
    margin-top: 0;
    margin-bottom: 1rem;
}

.tier {
    background-color: $gray;
    border-radius: $roundness;
    display: flex;
    min-height: $tierHeight * 1rem;
    
    div {
        align-items: center;
        display: flex;
    }
}

.tierTitle {
    border-radius: $roundness 0 0 $roundness;
    font-family: $generalFont;
    font-size: 1.5rem;
    justify-content: center;
    min-width: $tierHeight * 1rem;
    text-align: center;
}

.tierContainer {
    flex-wrap: wrap;
    padding: 0.25rem;
}

@media only screen and (min-width: 768px) {
    .tierList {
        box-sizing: border-box;
        flex-grow: 3;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .unratedItems {
        flex-grow: 2;
    }
}