@use '../abstracts' as *;

.tierItem {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0.25rem;
    .image {
        border-radius: $roundness;
        height: $itemHeight * 1rem;
    }
}

.deleteIcon {
    position: absolute;
    top: -0.25rem;
    right: -0.65rem;
    width: 1.5rem;
    display: none;
}

.tierItem:hover .deleteIcon {
    display: block;
}