@use '../abstracts' as *;

.unratedItems {
    display: flex;
    background-color: $gray;
    border-radius: $roundness;
    min-height: $tierHeight * 1rem;
    padding: 0.25rem;
    flex-wrap: wrap;
}