@use './abstracts/' as *;
@use './sections';

body {
    display: grid;
    grid-template-rows: 2rem 1fr 1rem;
    gap: 2.5rem;
    background-color: $base;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    border-radius: 3px;
    padding: 2rem;
    width: 100vw;
}
